<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api alumno</title>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
     <!-- Latest compiled JavaScript -->
 
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
 
    <style>
        
       
        
        
        
       
    </style>
</head>
<body>

	<div  class="container-fluid p-3">
	<h2>Registro de alumno</h2>
		<div class="row no-gutter">
			<div class="col-12">
					<form>
					
					<div class="form-group">
						<label for="matricula">Matricula</label>
						<input type="text" class="form-control" id="matricula" placeholder="Ingresa la matricula" required>
					</div>
					<div class="form-group">
						<label for="name">Nombre</label>
						<input type="text" class="form-control" id="name" placeholder="Ingresa el nombre" required>
					</div>
					<div class="form-group">
						<label for="carrera">Carrera</label>
						<input type="text" class="form-control" id="carrera" placeholder="Ingresa la carrera" required>
					</div>
					<button type="submit" class="btn btn-primary" id="post">Enviar</button>
					<button type="submit" class="btn btn-dark" id="get">Recuperar</button>
					<button type="submit" class="btn btn-danger" id="delete">Eliminar</button>
					<button type="submit" class="btn btn-warning" id="put">Actualizar</button>	
					</form>
					<div id="resultado"></div>
			</div>
			
			
		</div>
	
	</div>

	
 


<script>
    var urlBase = "http://localhost:8080/alumnos"
   
    // *******************************************************************************************************************************

    $(document).ready(function(){
         
        $("#get").click(function(){
        	$("#resultado").empty();
        	var mat = $("#matricula").val();
        	if(mat === ""){
        		$.get(urlBase, function(data, status){
        			
        			$("#resultado").append($("<ol>"));
        			for(var i = 0; i<data.length;i++){
        				$("#resultado").append($("<li>" +
        						"Matricula: " +data[i].matricula + "<br> " +
        						"Nombre: " +data[i].nombre + "<br> " +
        						"Carrera: " +data[i].carrera + "<br> " +
        				
        				
        				"</li>"));		
        			}
        			$("#resultado").append($("</ol>"));
        			//alert("\nStatus: " + status);           		 
           	    });   			  
   		 	}
        	else{
        		$.get(urlBase+"/"+mat, function(data){
        			$("#resultado").append($("<ol>"));
        				$("#resultado").append($("<li>" +
        						"Matricula: " +data.matricula + "<br> " +
        						"Nombre: " +data.nombre + "<br> " +
        						"Carrera: " +data.carrera + "<br> " +
        				        				
        				"</li> </ol>"));		
           	    });
        		
        	}
        	 
        });
        
        
        
        
        
        
        $("#post").click(function(){
    
        	var parametros = JSON.stringify({
        			matricula: $("#matricula").val(),
                	nombre: $("#name").val(),
                	carrera: $("#carrera").val()        			
        	});
        	
        	$.ajax({
        	    url: urlBase,
        	    type: 'POST',
        	    dataType: 'json',
        	    contentType: "application/json; charset=utf-8",
        	    data: parametros,
        	    success: function(data,status) {
        	    	alert(status+"\n Resgatrado ");
        	 
        	    },
        	    error:function(data,status){
        	    	alert(status+"\n No se pudo registrar")        	    	
        	    }
        	});        	
        	
        });
        
        
        
        $("#delete").click(function(){
        	var mat = $("#matricula").val()
        	$.ajax({
        		url: urlBase+"/"+mat,
        	    type: 'DELETE',
        	    success: function(data,status) {
        	    	alert("Se elimino correctamente"); 
        	    	
        	    },
        	    error:function(data,status){
        	    	//alert(status+"\n No se pudo eliminar al alumno")        	    	
        	    }
        		
        	});      	
        	
        	
        });
        
        
        
        
        $("#put").click(function(){
        	var parametros = JSON.stringify({
        			matricula: $("#matricula").val(),
                	nombre: $("#name").val(),
                	carrera: $("#carrera").val()        			
        	});
        	
        	$.ajax({
        	    url: urlBase+"/"+$("#matricula").val(),
        	    type: 'PUT',
        	    dataType: 'json',
        	    contentType: "application/json; charset=utf-8",
        	    data: parametros,
        	    success: function(data,status) {
        	    	alert(status+"\n Actualizado!! ");
        	 
        	    },
        	    error:function(data,status){
        	    	//alert(status+"\n No se pudo Actualizar!!!")        	    	
        	    }
        	});        	
        	
        });       
                

         
        
        
    });
    
    
</script>

   
</body>
</html>